.st0 {
  fill: #ffffff;
}

.st1 {
  fill: #00bfac;
  stroke: #ffffff;
  stroke-width: 1.4;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #c7f0e2;
  stroke: #ffffff;
  stroke-width: 1.4;
  stroke-miterlimit: 10;
}

.st3 {
  fill: #8ce8d3;
  stroke: #ffffff;
  stroke-width: 1.4;
  stroke-miterlimit: 10;
}

.st4 {
  fill: #00726a;
  stroke: #ffffff;
  stroke-width: 1.4;
  stroke-miterlimit: 10;
}

.st5 {
  fill: #6d6d6d;
}
